$main-color: #000000;
$secondary-color: #ffffff;
$gray-color: #808080;
$gray2-color: #585858;
$gray3-color: #bdbdbd;
$gray4-color: #353535;
$gray-light-color: #f6f7f8;
$red-color: #f50d24;
$green-color: #94d336;
